<div class="social">
  <a target="_blank"
    href="https://www.facebook.com/Kulturf%C3%B6reningen-Lava-431753280506622/">
    <img src="{{ relative_url }} /assets/img/fb.png" alt="facebook">
    <h2>Facebook</h2>
  </a>
</div>

{% include newsletter.html %}

<footer class="site-footer">
  <div class="wrapper">
    <img src="{{ relative_url }} /assets/img/logo-text-white.png"
      alt="Kulturföreningen Lava">
    <h3 class="footer-heading">{{ site.email | escape }}</h3>

    <div class="credits">
      {% for lang in page.lang  %}
        {% if site.data.strings[lang].credits %}
          {{ site.data.strings[lang].credits }} <br>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</footer>
<div class="sponsors">
  <ul>
    {% for item in site.data.sponsors %}
    <li>
    <img src="assets/img/sponsors/{{ item.img_url }}" />
    </li>
    {% endfor %}
  </ul>
</div>
<div id="language">
  <button value="sv" id="active">Svenska</button>
  / <button value="fit">Meänkieli</button>
</div>
<script data-cfasync="false" type="text/javascript"
      src="{{ relative_url }} /assets/js/newsletter-signup-handler.js">
</script>