<header class="site-header" role="banner">

  <div class="wrapper">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
    <div class="header">
      <div class="logo">
        <a href="{{ "/" | relative_url }}">
          <img src="{{ relative_url }} /assets/img/logo-primary-a.svg"
            alt="Kulturföreningen Lava"></a>
      </div>
      <div class="title">
        <h1>Sommarfesten/Aurinkofesti</h1>
      </div>
    </div>
  </div>
</header>
