{% if site.data.strings.sv.form.items[include.string].type == "text" %}
<div>
  <label class="sv" for="
    {{ include.string }}">
    {{ site.data.strings.sv.form.items[include.string].label }}</label>
  <label class="fit" for="
    {{ include.string }}">
    {% if site.data.strings.fit.form.items[include.string].label %}
      {{ site.data.strings.fit.form.items[include.string].label }}
    {% else %}
      {{ site.data.strings.sv.form.items[include.string].label }}
    {% endif %}
  </label>
  <input type="text"
    id="{{ include.string }}"
    name="{{ site.data.strings.sv.form.items[include.string].label }}"/>
</div>
{% else if site.data.strings.sv.form.items[include.string].type == "check" %}
<div>
  <input type="checkbox"
    id="{{ include.string }}"
    name="{{ site.data.strings.sv.form.items[include.string].label }}"/>
  <label for="{{ include.string }}">
    <span class="sv">
      {{ site.data.strings.sv.form.items[include.string].label }}
    </span>
    <span class="fit">
      {{ site.data.strings.fit.form.items[include.string].label }}
    </label>
    </span>
</div>
{% endif %}