<script>
  window.onload = function() {
    var children = document.getElementById('language').childNodes;

    for (var i = 0; i < children.length; i++) {
      if (children[i].tagName == "BUTTON") {
        children[i].addEventListener('click', switchLanguage);
      }
    }
  }

  function switchLanguage() {
    document.body.className = this.value;
    document.getElementById('active').removeAttribute('id');
    this.setAttribute('id', 'active');
  }

  window.onscroll = function() {
    var d = document.scrollingElement;
    var offset = d.scrollTop;
    var height = d.offsetHeight;

    if (offset > 270) {
      var lang = document.getElementById('language');

      if (!lang.hasAttribute('class', 'show')) {
        document.getElementById('language').setAttribute('class', 'show');
      }
    }
};
</script>