<section class="{{include.section}}">
    {% if site.data.strings.sv[include.section].p %}
      {% include text-block.html section=include.section %}
    {% else %}
      {% if site.data.strings.sv[include.section].title %}
      <h2>{{ site.data.strings.sv[include.section].title }}
            / {{ site.data.strings.fit[include.section].title }}</h2>
      {% endif %}

      {% for string_hash in site.data.strings.sv[include.section] %}
        {% assign string = string_hash[0] %}
          {% include text-block.html section=include.section string=string %}
      {% endfor %}
    {% endif %}
</section>