.header {
  text-align: center;

  .logo {
    @include col(12,12);
    margin: 2em 0 0 0;

    a {
      @include col(2, 12);
      float:none;
    }
  }

  .title {
    @include col(12,12);
  }
}

.subtitle {
  text-align: center;
}

section {
  float:left;

  h2 {
    text-align: center;
    margin-top: 0.5em;
  }

  div {
    &:first-of-type {
      @include col(11,24, $first:true);
      text-align: right;
    }

    &:last-of-type {
      @include col(11,24, $last:true);
      @include col-offset(1,24);
      text-align: left;
    }

    &:first-of-type, &:last-of-type {
        @include media-query($on-palm) {
        @include col(24,24, $first:true);
        padding: 0 1em;
        margin: 0;
        text-align: left;
      }
    }

    h2 {
      text-align: inherit;
    }
  }

  img.small-image {
    &:first-of-type {
        @include col(11,24, $first:true);
        text-align: right;
      }

      &:last-of-type {
        @include col(11,24, $last:true);
        @include col-offset(1,24);
        text-align: left;
      }
  }

  &.preamble {
    p {
      font-family: $brand-font-family;
      font-size: 1.5em;
    }
  }
}

img.large-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

footer.site-footer {
  text-align: center;
  margin-top: 4em;
}

#language {
  display: none;

  @include media-query($on-palm) {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1em;
    font-size:1.4em;
    background-color: $brand-color;
    color: white;
    font-family: $brand-font-family;
    text-align: center;

    button {
      font-family: inherit;
      font-size: inherit;
      color: inherit;
    }

    #active {
      color: $brand-color-alt;
    }
  }
}

body.sv {
  .fit {
    display: none!important;
  }
}

body.fit {
  .sv {
    display: none!important;
  }
}