.header {
  text-align: center;
  height: 35vh;

  .logo {
    height: 70%;
    width: 100%;
    padding-top: 7vh;

    a {
      img {
        max-height: 100%;
      }
    }
  }

  .title {
    height: 30%;
    width: 100%;

    h1 {
      font-size: 7vh;
    }
  }
}

.subtitle {
  text-align: center;
}

#splash {
  height: 65vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #eee;
  cursor: pointer;

  &:before {
    content: ' ';
    display: block;
    position: relative;
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 100px solid $brand-color-alt;
    left: calc(50% - 50px);
    top: calc(50% - 100px);
    opacity: 0.9;

    @include media-query($on-palm) {
      border-top: 50px solid transparent;
      border-bottom: 50px solid transparent;
      border-left: 50px solid $brand-color-alt;
      left: calc(50% - 25px);
      top: calc(50% - 50px);
      opacity: 1;
    }
  }

  &:hover {
    &::before {
      border-left-color: lighten($brand-color-alt, 5);
    }
  }

  &.playing {
    background-image: none;

    &:before {
      display: none;
    }

    .video {
      display: block;
    }
  }

  .video {
    display: none;
    height: 100%;
  }
}

.page-content {
  margin-top: 2em;
}

section {
  float:left;

  h2 {
    text-align: center;
    margin-top: 0.5em;
    float: left;
    width: 100%;
  }

  div {
    &:nth-of-type(odd) {
      @include col(11,23, $first:true);
      text-align: right;
      clear: both;
    }

    &:nth-of-type(even) {
      @include col(11,23, $last:true);
      @include col-offset(1,23);
      text-align: left;
    }

    &:nth-of-type(odd), &:nth-of-type(even) {
      @include media-query($on-palm) {
        @include col(24,24, $first:true);
        padding: 0 1em;
        margin: 0;
        text-align: left;
      }
    }

    h2 {
      text-align: inherit;
    }

    p {
      margin: 0;

      br {
        line-height: 3em;
      }
    }
  }

  &.images {
    width: 100%;
  }

  .small-image {
    &:first-of-type {
        @include col(11,23, $first:true);
        text-align: right;
      }

      &:last-of-type {
        @include col(11,23, $last:true);
        @include col-offset(1,23);
        text-align: left;
      }

      height: 300px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
  }

  &.preamble {
    @include bg-image(
      $img: "../assets/img/bg/bg-item.svg",
      $size: 400px,
      $right: -250px,
      $top: -400px
    );

    &:before {
      transform:rotate(-90deg);
    }

    p {
      font-family: $brand-font-family;
      font-size: 1.5em;
    }
  }

  &.date {
    @include bg-image(
      $img:"../assets/img/bg/bg-date.svg",
      $size: 400px,
      $left: -400px,
      $top: -200px
    );

    h3 {
      font-size: 3em;
    }
  }

  &.join {
    @include bg-image(
      $img:"../assets/img/bg/bg-item.svg",
      $size: 500px,
      $left: -320px,
      $top: 400px
    );
  }

  &.membership {
    @include bg-image(
      $img:"../assets/img/bg/bg-item-2.svg",
      $size: 500px,
      $right: -320px,
      $top: 0px
    );
  }

  &.food {
    color: white;

    @include bg-image(
      $img:"../assets/img/bg/bg-food.svg",
      $size: 1300px,
      $left: -130px,
      $top: -120px,
      $after: true
    );

    @include media-query($on-palm) {
      h2 {
        margin-top: 1em;
      }

      &:after {
        position: relative;
        max-height: 750px;
        width: 100vw;
        left: 0;
        top: 0px;
        background-size: cover;
        background-position: center;
      }
    }
  }

  &.accomodation {
    margin-top: 9em;

    @include media-query($on-palm) {
      margin-top: 0;
    }
  }
}

.large-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 600px;
  background-position: center 60%;
  background-repeat: no-repeat;
}

.social {
  text-align: center;
  margin: 2em 0;
  a {
    display: inline-block;
    color: lighten($text-color, 40);

    &:hover {
      text-decoration: none;
      color: $brand-color-alt;
    }
    img {
      display: inline-block;
      max-width: 5em;
    }
    h2 {
      display: inline-block;
      margin-bottom: 0;
      line-height: 2em;
      vertical-align: middle;
      margin-left: 0.5em;
    }
  }

}

footer.site-footer {
  text-align: center;
  margin-top: 4em;

  .sponsors {
    width: 100%;
    display: inline-block;
    margin: 1em 0;

    div {
      @include col(2,12);

      @include media-query($on-palm) {
          @include col(4,12);
        }

      &:first-of-type {
        @include col-offset(3,12);

        @include media-query($on-palm) {
          margin-left: 0;
        }
      }

      img {
        max-height: 100px;
      }
    }
  }
}

#language {
  display: none;

  @include media-query($on-palm) {
    display: block;
    opacity: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1em;
    font-size:1.4em;
    background-color: $brand-color;
    color: white;
    font-family: $brand-font-family;
    text-align: center;

    &.show {
      opacity: 1;
      transition: opacity 1s;
    }

    button {
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      border:none;
      -webkit-appearance: none;
      background: none;
    }

    #active {
      color: $brand-color-alt;
    }
  }
}

.bg-bottom {
  background-color: $brand-color;
  position: relative;
  margin-top: 5em;
  padding-top: 4em;

  &:before {
    content: '';
    display: block;
    position: absolute;
    background-image: url("../assets/img/bg/bg-border.svg");
    background-size: cover;
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
    width: 100%;
    left: 0;
    height: 400px;
    z-index: -1;
    top: -50px;
  }
}

@include media-query($on-palm) {
  body.sv {
    .sv {
      animation: fade-in 1s;
    }
    .fit {
      display: none!important;
    }
  }

  body.fit {
    .fit {
      animation: fade-in 1s;
    }
    .sv {
      display: none!important;
    }
  }
}

@keyframes switch {
  0% { background-color: white; }
  50% { background-color: $brand-color; }
  100% { background-color: white; }
}

@keyframes fade-in {
  0% { display: block; opacity: 0;}
  100% { opacity: 1; }
}