.header {
  text-align: center;

  .logo {
    @include col(12,12);
    margin: 2em 0 0 0;

    a {
      @include col(2, 12);
      float:none;
    }
  }

  .title {
    @include col(12,12);
  }
}

.subtitle {
  text-align: center;
}

section {
  float:left;

  h2 {
    text-align: center;
    margin-top: 0.5em;
  }

  div {
    &:nth-of-type(odd) {
      @include col(11,23, $first:true);
      text-align: right;
      clear: both;
    }

    &:nth-of-type(even) {
      @include col(11,23, $last:true);
      @include col-offset(1,23);
      text-align: left;
    }

    &:nth-of-type(odd), &:nth-of-type(even) {
      @include media-query($on-palm) {
        @include col(24,24, $first:true);
        padding: 0 1em;
        margin: 0;
        text-align: left;
      }
    }

    h2 {
      text-align: inherit;
    }
  }

  img.small-image {
    &:first-of-type {
        @include col(11,23, $first:true);
        text-align: right;
      }

      &:last-of-type {
        @include col(11,23, $last:true);
        @include col-offset(1,23);
        text-align: left;
      }
  }

  &.preamble {
    p {
      font-family: $brand-font-family;
      font-size: 1.5em;
    }
  }

  &.date {
    h3 {
      font-size: 3em;
    }
  }
}

img.large-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

footer.site-footer {
  text-align: center;
  margin-top: 4em;
}

#language {
  display: none;

  @include media-query($on-palm) {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1em;
    font-size:1.4em;
    background-color: $brand-color;
    color: white;
    font-family: $brand-font-family;
    text-align: center;

    button {
      font-family: inherit;
      font-size: inherit;
      color: inherit;
    }

    #active {
      color: $brand-color-alt;
    }
  }
}

@include media-query($on-palm) {
  body.sv {
    .sv {
      animation: fade-in 1s;
    }
    .fit {
      display: none!important;
    }
  }

  body.fit {
    .fit {
      animation: fade-in 1s;
    }
    .sv {
      display: none!important;
    }
  }
}

@keyframes switch {
  0% { background-color: white; }
  50% { background-color: $brand-color; }
  100% { background-color: white; }
}

@keyframes fade-in {
  0% { display: block; opacity: 0;}
  100% { opacity: 1; }
}