---
layout: 2019
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="sv">
    <div id="" class="splash" aria-label="Content"
      style="background-image:
          url('{{ relative_url }} /assets/img/kulturlava-main.jpg')">
      <div class="splash-title">
        <h1>Aurinkofesti</h1>
        <h2>2019</h2>
      </div>
      <div class="splash-readMore">
        <h3 id="readMore">
          {{ site.data.strings.sv.more }}
          /
          {{ site.data.strings.fit.more }}
        </h3>
      </div>
    </div>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {% include text.html section="home" %}
      </div>
    </main>

    <div class="shortcut">
      <ul id="">
          {% for item in site.data.navigation.nav %}
          {% if item.feature %}
          <li>
          {% if item.external %}
          <a href="{{ item.url }}">{{ item.title }}</a>
          {% else %}
          <a href="{{site.url}}{{ item.url }}">{{ item.title }}</a>
          {% endif %}
          </li>
          {% endif %}
          {% endfor %}
        </ul>
    </div>

    {% include footer.html %}
  </body>
</html>
