---
layout: 2019
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="sv">
    <div id="" class="splash" aria-label="Content"
      style="background-image:
          url('{{ relative_url }} /assets/img/kulturlava-main.jpg')">
      <div class="splash-title">
        <h1>Aurinkofesti</h1>
        <h2>2019</h2>
      </div>
      <div class="splash-readMore">
        <h3 id="readMore">
          {{ site.data.strings.sv.takeover.more }}
          /
          {{ site.data.strings.fit.takeover.more }}
        </h3>
      </div>
    </div>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {% include text.html section="preamble" %}
        {% include text.html section="date" %}
        {% include text.html section="location" %}
        {% include text.html section="inclusive" %}
      </div>
    </main>

    <div class="shortcut">
      <ul>
        <li><a>Biljetter</a></li>
      </ul>
    </div>

    {% include footer.html %}
  </body>
</html>
