<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="sv">
    {% include header.html %}

    {% include video.html id=page.videoId %}

    <main class="page-content" aria-label="Content">

      <div class="wrapper">
        <h3 class="subtitle">{{ site.data.strings.sv.subtitle }}
        / {{ site.data.strings.fit.subtitle }}</h3>

        {% include text.html section="preamble" %}

        {% include text.html section="date" %}

        {% include text.html section="location" %}
      </div>

      <div class="large-image"
        style="background-image:
          url('{{ relative_url }} /assets/img/kulturlava-binding.jpg')">
      </div>

      <div class="wrapper">

        {% include text.html section="join" %}

        {% include text.html section="membership" %}

        <section class="images">
          <div class="small-image"
            style="background-image:
            url('{{ relative_url }} /assets/img/kulturlava-food.jpg')">
          </div>

          <div class="small-image"
            style="background-image:
            url('{{ relative_url }} /assets/img/kulturlava-social.jpg')">
          </div>
        </section>

        {% include text.html section="food" %}

        {% include text.html section="accomodation" %}

        {% include text.html section="volonteer" %}

      </div>
    </main>
    {{ content }}
    <div class="wrapper">
      {% include form.html %}
    </div>
    {% include footer.html %}

    <div id="language">
      <button value="sv" id="active">Svenska</button>
      / <button value="fit">Meänkieli</button>
    </div>
  </body>

</html>
