---
layout: page
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="sv">
    <div id="" class="page-cover" aria-label="Content"
      style="background-image:
          url('{{ relative_url }} {{ page.img_url }}')">
    </div>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {% include text.html section=page.string %}
      </div>
    </main>

    {% include footer.html %}
  </body>
</html>
